body {
    background-color: rgb(200,200,200);
    font-family: Arial, Verdana, sans-serif;
    text-align: justify;
    letter-spacing: 0.15em;
    font-weight: 400;
}
#page{
    max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #000;
	background-color: #ffffff;
}
h1 {
    background-color: DarkCyan;
    margin: inherit;
    border-top: 2px solid #000;
	border-bottom: 1px solid #000;
    padding: inherit;
    }
h2 {
    background-color: #ee3e80;
    margin: inherit;
    border-top: 2px solid #000;
	border-bottom: 1px solid #000;
    padding: inherit;
    }
p {
    color:#665544;
	margin: 20px auto 20px auto; 
    padding: 0px 20px 0px 20px  ; 
    }
a:link {
    color: darkcyan;
    text-decoration: none;
}
a:visited {
    color: black;}
a:hover {
    color: darkcyan;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}
a:active {
    color: darkcyan;}
ul {
    color: #665544;
    list-style-image: url("../img/star.png");
   }
ol{
    color: #665544;
}
li {
    margin: 10px 0px 0px 0px;
    margin: 0;
    border: 0;
    padding: 10px;
}
img{
    height: auto;
    width: 500px;
    display: block;
    text-align: center;
    margin: 0px auto;
    border: black solid 1px;
}

   figure {
    display: inline-block;
    width: 202px;
    height: 170px;
    background-color: #e7e3d8;
}
figure img {
    width: 200px;
    height: 150px;
}
figcaption {
    text-align: center;
}
