body {
    background-color: rgb(200,200,200);
    color: white;
    font-family: Arial, Verdana, sans-serif;
    text-align: justify;
    margin: 5px;
    border: 1px;
    padding: 4px;
}
h1 {
    background-color: DarkCyan;
    margin: inherit;
    border: inherit;
    padding: inherit;
   
    }
h2 {
    background-color: #ee3e80;
    margin: inherit;
    border: inherit;
    padding: inherit;
   
    }
p {
    /*background-color: white;*/
    color:#665544;
    margin: inherit;
    border: inherit;
    padding: inherit;
   
    }
a:link {
    color: darkcyan;
    text-decoration: none;
    margin: inherit;
    border: inherit;
    padding: inherit;
   }
a:visited {
    color: black;}
a:hover {
    color: darkcyan;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;}
a:active {
    color: darkcyan;}
ul {
    color: #665544;
	/*background-color: #d4d0c6;*/
    list-style-image: url("../img/star.png");
   }
ol{
    color: #665544;
}
li {
    margin: 10px 0px 0px 0px;
    margin: 0;
    border: 0;
    padding: 10px;
}
img{
    height: auto;
    width: 250px;
}
/*    figure {
    display: block;
    width: 202px;
    height: 170px;
    background-color: #e7e3d8;
    text-align: left;}
figure img {
    width: 200px;
    height: 150px;
}
figcaption {
    background-image: url("images/icon.png");
    text-align: center;
    background-repeat: no-repeat;}*/